html{
    width: 100%;
}

/* NAV BAR */
.top-nav{
    background-color: #DC1588;
    width: 100%;
    height: 36px;
    display: grid;
}

.top-nav p{
    color: white;
    /* margin: 8px auto; */
}

 
.links a:hover{
    background-color: rgba(0, 0, 0, 0.279) !important;
}

#hotline{
    font-weight: 700;
    font-size: 24px;
    color: #FFFF63;
}

#hotline:hover{
    color: white;
    transition: all 2s ease;
}

a{
    text-decoration: none;
}

.links a{
    margin-left: 17px;
    color: white;
    padding: 12px 5px;
}

.nav-link{
    text-transform: uppercase;
    font-weight: 500;
    color: #879AAC;
}

.nav-link:hover{
    color: #DC1588;
}
