.parent {
    background-color: aqua;
    padding: 100px;
    /* height: 600px; */
    display : grid;
    box-sizing: border-box;
    grid-template-columns: repeat(12.1fr);
    grid-template-rows: 80px 400px 80px;
}

.child {
    /* height: 200px; */
    grid-column: span 12;
    /*width: 33.33%;*/
}

.child:nth-of-type(1){
    background-color: aliceblue;
  

}

.child:nth-of-type(2){
    grid-column: span 2;
    background-color: rgb(206, 230, 19);
   
}

.child:nth-of-type(3){
    grid-column: span 8;
    background-color: rgb(19, 58, 11);
    
   
}

.child:nth-of-type(4){
    grid-column: span 2;
    background-color: rgb(229, 78, 14);
}

.child:nth-of-type(5){
    grid-column: span 12;
    background-color: rgb(117, 23, 81);
}
